@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 21px;
font-style: normal;
}.flaticon-cancel30:before {
	content: "\e000";
}
.flaticon-expand42:before {
	content: "\e001";
}
.flaticon-media23:before {
	content: "\e002";
}
.flaticon-plug24:before {
	content: "\e003";
}
.flaticon-right58:before {
	content: "\e004";
}
