@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 24px;
font-style: normal;

}.flaticon-close:before {
	content: "\e000";
}
.flaticon-connected:before {
	content: "\e001";
	font-size: 29px;
	line-height: 37px;
	color: rgb(59, 211, 102);
}
.flaticon-disconnected:before {
	content: "\e002";
	font-size: 31px;
	line-height: 37px;
}
.flaticon-equalizer33:before {
	content: "\e003";
}
.flaticon-maximize:before {
	content: "\e004";
}
.flaticon-repl:before {
	content: "\e005";
}
.flaticon-run:before {
	content: "\e006";
}
.flaticon-save:before {
	content: "\e007";
}
.flaticon-blockly:before {
	content: "\e008";
}
.flaticon-python3:before {
	content: "\e009";
}
.flaticon-bar:before {
	content: "\e00a";
}
.flaticon-stop:before {
	content: "\e00b";
	font-size: 23px;
	line-height: 37px;
}
.flaticon-usb-on:before {
	content: "\e00c";
}
.flaticon-usb-off:before {
	content: "\e00d";
}
.flaticon-knob:before {
	content: "\e00c";
}
