@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-close:before {
	content: "\e000";
}
.flaticon-connected:before {
	content: "\e001";
}
.flaticon-disconnected:before {
	content: "\e002";
}
.flaticon-maximize:before {
	content: "\e003";
}
.flaticon-run:before {
	content: "\e004";
}
.flaticon-save:before {
	content: "\e005";
}
.flaticon-blockly:before {
	content: "\e006";
}
.flaticon-python3:before {
	content: "\e007";
}
.flaticon-stop:before {
	content: "\e008";
}
