html, body {
	height: 100%;
}

body {
	background-color: white;
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;
	border: 1px solid #ddd;
	/*border-top: 0;*/
}

.farSide {
	text-align: right;
}

html[dir="RTL"] .farSide {
	text-align: left;
}

/* Buttons */
button {
	margin: 5px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: large;
	background-color: #eee;
	color: #000;
}
button.primary {
	border: 1px solid #dd4b39;
	background-color: #dd4b39;
	color: #fff;
}
button.primary>img {
	opacity: 1;
}
button>img {
	opacity: 0.6;
	vertical-align: text-bottom;
}
button:hover>img {
	opacity: 1;
}
button:active {
	border: 1px solid #888 !important;
}
button:hover {
	box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
	opacity: 0.6;
}
button.disabled {
	display: none;
}
button.notext {
	font-size: 10%;
}

h1 {
	font-weight: normal;
	font-size: 140%;
	margin-left: 5px;
	margin-right: 5px;
}

/* Tabs */
#tabRow>td {
	border-bottom: none;
	padding: 10px 20px;
	border-bottom-color: #43ac6a !important;
	background-color: #43ac6a;
	color: white;
	font-size: 15px;
}
td.tabon {
}
td.taboff {
	cursor: pointer;
	opacity: 0.45;
	filter: alpha(opacity=45);
}
td.taboff:hover {
	background-color: #eee;
}
td.tabmin {
	border-top-style: none !important;
	border-left-style: none !important;
	border-right-style: none !important;
}
td.tabmax {
	border-top-style: none !important;
	border-left-style: none !important;
	border-right-style: none !important;
	width: 99%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}
html[dir=rtl] td.tabmax {
	text-align: left;
}

table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: none;
}
td {
	padding: 0;
	vertical-align: top;
}
.content {
	visibility: hidden;
	margin: 0;
	padding: 1ex;
	position: absolute;
	direction: ltr;
}
pre.content {
	border: 1px solid #ccc;
	overflow: scroll;
}
#content_blocks {
	padding: 0;
}
.blocklySvg {
	border-top: none !important;
}
#content_xml {
	resize: none;
	outline: none;
	border: 1px solid #ccc;
	font-family: monospace;
	overflow: scroll;
}
#languageMenu {
	vertical-align: top;
	/*margin-left: 5px;*/
}

/* Buttons */
button {
	padding: 1px 10px;
	margin: 1px 5px;
}

/* Sprited icons. */
.icon21 {
	height: 21px;
	width: 21px;
	background-image: url(../img/icons.png);
}
.trash {
	background-position: 0px 0px;
}
.link {
	background-position: -21px 0px;
}
.run {
	background-position: -42px 0px;
}

/** HEADER **/
.navbar-inverse {
	min-height: 0;
	background-color: white;
	background-image:-webkit-linear-gradient(-90deg,rgba(128,128,128,0.11) 0%,rgba(255,255,255,0.51) 67%,rgba(255,255,255,0.52) 81%,#fff 100%);
	background-image:-moz-linear-gradient(-90deg,rgba(128,128,128,0.11) 0%,rgba(255,255,255,0.51) 67%,rgba(255,255,255,0.52) 81%,#fff 100%);
	background-image:-o-linear-gradient(-90deg,rgba(128,128,128,0.11) 0%,rgba(255,255,255,0.51) 67%,rgba(255,255,255,0.52) 81%,#fff 100%);
	background-image:-ms-linear-gradient(-90deg,rgba(128,128,128,0.11) 0%,rgba(255,255,255,0.51) 67%,rgba(255,255,255,0.52) 81%,#fff 100%);
}
.wrapper {
	width: 100%;
}
.terminal,
.code-content {
	position: absolute;
	top: 45px;
	bottom: 2px;
}
.code-content {
	left: 2px;
	width: 55%;
	border: 5px solid white;
}
.code-content .dropdown-menu {
	top: 0;
	left: 101%;
}
.code-content .dropdown-menu>li>a {
	padding: 5px 10px;
	font-size: 15px;
}

.terminal {
	background: rgb(78, 95, 116);
	right: 2px;
	width: 45%;
	border: 5px solid white;
	color: white;
	padding: 5px;
	font-family: Courier;
	overflow-y: scroll;
	overflow-x: hidden;
}
.terminal p {
	margin-bottom: 2px;
}
#tabRow td {
	visibility: hidden;
}
#tab_xml {
	display: none;
}
.blocklyTreeRow {
	padding-top: 5px;
	padding-bottom: 5px;
	height: auto !important;
}
.blocklyTreeRow:hover {
	background-color: #e99002 !important;
}
.blocklyTreeSelected {
	background-color: #d08002 !important;
}
.blocklyTreeRoot {
	padding: 0 !important; 
}
.blocklyFlyoutBackground {
	fill-opacity: 0.6 !important;
}
.btn-icon {
	width: 45px;
	height: 45px;
	border: 0;
	margin-left: -4px;
	-webkit-app-region: no-drag;
}
.btn-white {
	color: white;
}
.form-icon-top {
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
	text-align: right;
	margin-bottom: 0;
}
.form-icon-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 55px;
	text-align: right;
	margin-bottom: 0;
}
.form-icon-topbar {
	position: absolute;
	top: 0;
	right: 3px;
	text-align: right;
	margin-bottom: 0;
}
.form-icon-topbar .btn-icon {
	width: 24px;
	height: 28px;
}
.form-icon-topbar .btn-icon span:before {
	font-size: 12px;
}
.btn-save,
.btn-run,
.btn-connect {
	width: 45px;
	height: 45px;
}
.btn-close:hover {
	color: pink;
}
.navbar>.container-fluid .navbar-brand {
	margin-left: -15px;
	color: #444;
	font-size: 16px;
	padding: 3px 0 0 30px;
	background: url(../../icon_16.png) no-repeat 7px 5px;
}
#blocklyDiv {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 50px;
}