html, body {
  height: 100%;
}

body {
  background-color: #BDC3C7;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding-top: 55px;
}

.farSide {
  text-align: right;
}

html[dir="RTL"] .farSide {
  text-align: left;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
button.primary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}

h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Tabs */
#tabRow>td {
  border-bottom: none;
  padding: 10px 20px;
  border-bottom-color: #43ac6a !important;
  background-color: #43ac6a;
  color: white;
  font-size: 15px;
}
td.tabon {
}
td.taboff {
  cursor: pointer;
  opacity: 0.45;
  filter: alpha(opacity=45);
}
td.taboff:hover {
  background-color: #eee;
}
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
html[dir=rtl] td.tabmax {
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: top;
}
.content {
  visibility: hidden;
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
#content_xml {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: monospace;
  overflow: scroll;
}
#languageMenu {
  vertical-align: top;
  /*margin-left: 5px;*/
}

/* Buttons */
button {
  padding: 1px 10px;
  margin: 1px 5px;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(../img/icons.png);
}
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}

/** HEADER **/
.navbar-inverse {
  min-height: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.wrapper {
  width: 100%;
}
.terminal,
.code-content {
  position: absolute;
  top: 45px;
  bottom: 0;
}
.code-content {
  left: 0;
  width: 55%;
}
.terminal {
  background: #333;
  right: 0;
  width: 45%;
}
#tabRow td {
  visibility: hidden;
}
#tab_xml {
  display: none;
}
.blocklyTreeRow {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto !important;
}
.blocklyTreeRow:hover {
  background-color: #e99002 !important;
}
.blocklyTreeSelected {
  background-color: #d08002 !important;
}
.blocklyTreeRoot {
  padding: 0 !important; 
}
.blocklyFlyoutBackground {
  fill-opacity: 0.6 !important;
}
.btn-icon {
  width: 42px;
  height: 42px;
  border: 0;
  margin-left: -4px;
}
.btn-white {
  color: white;
}
.form-icon {
  position: absolute;
  top: 0;
  right: 0;
}